__pycache__/
*.pyc
.env
.env.qa
.env.stage
auth/
test-results/
playwright-report/
.pytest_cache/
venv/
.venv/
src/debug/
test_output.txt
report.html
node_modules/
.DS_Store
*.png
!fixtures/*.png
LT-264.pdf
